# Environment variables for the chatbot
# Copy this file to .env and add your actual API key

# Gemini AI API Key - Get this from https://makersuite.google.com/app/apikey
GEMINI_API_KEYS = [
     "AIzaSyBnnuB9bim2GEawmwiTN9RqNDqYloeibGQ",
     "AIzaSyAfg_HIzlRssnXzJuZfu9a5rABM4klJkC4",
     "AIzaSyCF1N0nqCVQxSkaMxMiqPz6XqHaCf31SBw",
     "AIzaSyDBr_qeSYZIVXtuiuLH2f36kbLLLEwK5Js",
     "AIzaSyAH7n5LQqJdyLrBjc5SWW5Yq0w-VCg0Te8"
    # Add more keys if needed
]

# Database configurations
MONGODB_URL=mongodb://localhost:27017
REDIS_URL=redis://localhost:6380
POSTGRES_URL=postgresql://admin:adminpass@localhost:5432/tickets

# JWT Secret (change this in production)
SECRET_KEY=yF0QdmI6zNQHvoSwuaNYFd%VfQ7Yt@$o
